body {background-color: #d4d4e1;}
h1 {background-color: #393d71;
    margin-top: 0px;
    margin-left: 7.5%;
    padding-left: 5%;
    padding-top: 0px;
    width: 80%;}
h1 > div{display: inline;
         position: relative;
         width: 500px;
         top: -100px;
         left: 66%;}
img{padding-top: 5px;}
div > a{background-color: #d3d3e1;
  margin-top: -200px;
  text-decoration: none;
  width: 100px;}
footer {background-color: #393d71;
        margin-left: 7.5%;
        width: 80%;}
